-
  const attributionData = [

  	{
  		desc: {
  			title: "Challenge by",
  		},

  		link: {
  			title: "Frontend Mentor",
  			href: "https://www.frontendmentor.io?ref=challenge",
  		},
  	},

  	{
  		desc: {
  			title: "Coded by",
  		},

  		link: {
  			title: "MatMaka",
  			href: "https://github.com/c-MatMaka-r",
  		},
  	},

  ];
